*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  line-height: unset;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.click {
  cursor: pointer;
}
.text-body {
  color: $text-body !important;
}
