// colors and fonts go here

// Neutrals & Shades
$white-100: #ffffff;
$black-100: #000000;
$red-100: #ff0000;
$text-body: #000000;

$cargo_font: "Poppins", sans-serif;
$cargo_font_bold: "Poppins Bold", sans-serif;
$cargo_font_two: "Inter", sans-serif;
$cargo_font_two_bold: "Inter Bold", sans-serif;
