<nav
  class="navbar navbar-expand-lg my_nav mobile_hide"
  data-aos="fade-down"
  data-aos-easing="ease-in-sine"
  data-aos-delay="200"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/"
      ><img class="logo" src="assets/images/partner_logo.svg" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor03"
      aria-controls="navbarColor03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarColor03 "
    >
      <ul class="navbar-nav">
        <li class="nav-item" [class.active]="activeFragment == fragments.ABOUT">
          <a class="nav-link" [routerLink]="'.'" [fragment]="fragments.ABOUT">{{
            fragments.ABOUT
          }}</a>
          <div class="highlight"></div>
        </li>
        <li
          class="nav-item"
          [class.active]="activeFragment == fragments.SYNOPSIS"
        >
          <a
            class="nav-link"
            [routerLink]="'.'"
            [fragment]="fragments.SYNOPSIS"
            >{{ fragments.SYNOPSIS }}</a
          >
          <div class="highlight"></div>
        </li>

        <li
          class="nav-item"
          [class.active]="activeFragment == fragments.SPONSORS"
        >
          <a
            class="nav-link"
            [routerLink]="'.'"
            [fragment]="fragments.SPONSORS"
            >{{ fragments.SPONSORS }}</a
          >
          <div class="highlight"></div>
        </li>
      </ul>
    </div>
    <a
      data-bs-toggle="modal"
      data-bs-target="#joinUsModal"
      class="btn navbar-btn"
      >Join Us</a
    >
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="joinUsModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="joinUsModalLabel"
  aria-hidden="true"
>
  <app-join></app-join>
</div>
