<app-navbar (fragment)="setSection($event)"> </app-navbar>
<app-sidebar (showMinimized)="showMinimizedMenu($event)"></app-sidebar>

<div class="sections">
  <div class="sections_home">
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-md-7 col-lg-6 d-flex align-items-center"
          data-aos="fade-up"
          data-aos-easing="ease-in-sine"
          data-aos-delay="200"
        >
          <div class="sections_home--header">
            <h4>
              “The chance of an education is a chance to escape poverty, to
              improve health, and to enhance opportunities.” <br /><br />
              <span
                >Her Highness, Sheikha Moza <br />
                bint Nasser</span
              >
            </h4>
          </div>
        </div>
        <div class="col-12 col-md-5 col-lg-6 d-flex justify-content-end">
          <div class="sections_home--wrapper">
            <img src="assets/images/boy.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sections_join">
    <div class="container">
      <h4>
        Join <span> Partner Mobile </span> in celebrating the Nigerian Child as
        we introduce: One Child Per Time: Educating The Next Generation
      </h4>
      <a
        class="btn btn_join"
        [routerLink]="'.'"
        [fragment]="'Contact'"
        data-bs-toggle="modal"
        data-bs-target="#joinUsModal"
      >
        Join Us
      </a>
    </div>
  </div>

  <div class="sections_introducing" id="About">
    <div class="container">
      <div class="row marg">
        <div class="col-12 col-md-6 col-lg-6 d-flex align-items-center">
          <div class="sections_introducing--images">
            <img src="../assets/images/standing.svg" alt="boy" />
            <img src="../assets/images/book.svg" alt="book" class="abs" />
          </div>
        </div>
        <div
          class="col-12 col-md-6 col-lg-6 d-flex justify-content-end"
          data-aos="fade-up"
          data-aos-easing="ease-in-sine"
          data-aos-delay="200"
        >
          <div class="sections_introducing--right">
            <h4>INTRODUCING “ONE CHILD PER TIME”</h4>
            <p>
              The “One Child Per Time” initiative is aimed at reducing the
              number of out-of-school children in Nigerian communities by giving
              each child the opportunity to get a quality education in every
              state in the country irrespective of their background, religion,
              or culture. Partner Mobile is focused on spreading love and hope
              to disadvantaged children who are struggling to cater to their
              basic educational needs.
            </p>
            <a
              class="btn"
              [routerLink]="'.'"
              [fragment]="'Contact'"
              data-bs-toggle="modal"
              data-bs-target="#joinUsModal"
            >
              Learn More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="sections_according"
    id="Synopsis"
    data-aos="fade-down"
    data-aos-easing="ease-in-sine"
    data-aos-delay="100"
  >
    <div class="container">
      <p>
        According to Global Citizen, Nigeria has the world’s largest number of
        Out-of-School Children. <br />
        <br />
        A survey conducted by the United Nations Children's Fund (UNICEF)
        indicates that the population of out-of-school children in Nigeria has
        risen from 10.5 million to 13.2 million. <br />
        <br />
        What these statistics mean is that “one in every five of the world’s
        out-of-school children is in Nigeria.”
      </p>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="sections_why">
        <div class="row align-items-center">
          <div
            class="col-12 col-md-6 col-lg-6 d-flex justify-content-start"
            data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-delay="200"
          >
            <div class="sections_why--left">
              <h4>Why does quality education matter to a child?</h4>
              <p>
                When we invest in high-quality early childhood education, it
                helps make sure that we are providing the best opportunities for
                children to grow and learn. By being in a good school
                environment, the foundation of a child is set for them to be
                successful in school, work and life.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 d-flex align-items-center">
            <div class="sections_why--image">
              <img src="../assets/images/girl.svg" alt="boy" />
            </div>
          </div>
        </div>
      </div>
      <div class="sections_aim">
        <h4>What we aim to achieve with this project?</h4>
        <div class="row">
          <div
            class="col-12 col-md-3 col-lg-3 mb-4"
            data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-delay="200"
          >
            <div class="sections_aim--card">
              <div class="sections_aim--card_top mobile_hide">
                <img src="../assets/images/class.png" alt="class" />
              </div>
              <p>
                <span>74</span> children from all <span>36</span> states in
                Nigeria including the FCT to get quality education.
              </p>
            </div>
          </div>
          <div
            class="col-12 col-md-3 col-lg-3 mb-4"
            data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-delay="200"
          >
            <div class="sections_aim--card">
              <div class="sections_aim--card_top mobile_hide">
                <img src="../assets/images/map.svg" alt="map" />
              </div>
              <p>
                <span>6</span> schools in the six geo-political zones of
                Nigeria. Each adopted school will receive infrastructural
                improvements.
              </p>
            </div>
          </div>
          <div
            class="col-12 col-md-3 col-lg-3 mb-4"
            data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-delay="200"
          >
            <div class="sections_aim--card">
              <div class="sections_aim--card_top mobile_hide">
                <img src="../assets/images/stationary.svg" alt="stationary" />
              </div>
              <p>
                <span>E</span>ducational materials including exercise books,
                pens, textbooks, lunch boxes, etc to students across several
                schools in Nigeria.
              </p>
            </div>
          </div>
          <div
            class="col-12 col-md-3 col-lg-3"
            data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-delay="200"
          >
            <div class="sections_aim--card">
              <div class="sections_aim--card_top mobile_hide">
                <img src="../assets/images/woman.svg" alt="woman" />
              </div>
              <p>
                <span>P</span>rovide support to the parents and caregivers of
                out-of-school children in order to support their learning
                capability and a safe return to school.
              </p>
            </div>
          </div>
        </div>
        <div class="btn_wrapper">
          <a
            class="btn"
            [routerLink]="'.'"
            [fragment]="'Contact'"
            data-bs-toggle="modal"
            data-bs-target="#joinUsModal"
          >
            BECOME A PARTNER
          </a>
        </div>
      </div>
      <div class="sections_started">
        <div class="sections_started-main">
          <div class="d-flex justify-content-center">
            <img src="../assets/images/children.svg" alt="" />
          </div>
          <h4>You can also be part of this project. Here’s how:</h4>
          <p>
            At Partner Mobile, we believe everyone has the ability to create the
            change they want to see and that’s why we want you to be part of
            this great project. For each of our devices (Mobile Phones and Erica
            Smartwatches) that you purchase between <span>NOW</span> to
            <span>June 27</span>, a total of <span>N1,000</span> will be donated
            to sponsor an out-of-school child back to school. When you subscribe
            to your data plans on Partner Fibre-To-The-Home Data Service,
            <span>N1,000</span> will also be donated to sponsor a child back to
            school. So, join us, and let’s give our future generation the hope
            they require.
          </p>
          <div class="btn_wrapper">
            <a
              class="btn"
              [routerLink]="'.'"
              [fragment]="'Contact'"
              data-bs-toggle="modal"
              data-bs-target="#joinUsModal"
            >
              GET STARTED
            </a>
          </div>
        </div>
      </div>

      <div class="sections_headline" id="Sponsors">
        <div class="sections_headline-main">
          <h4>Headline Sponsors</h4>

          <div class="d-flex justify-content-center">
            <img src="../assets/images/access_power.svg" alt="" class="head" />
          </div>

          <p>
            Access Power Systems is an independent quality power and renewable
            energy equipment manufacturer. Registered both in USA and Nigeria,
            they aim at ensuring optimum return of high technology investment by
            providing a full range of power services and best in class power
            measurement and mitigating equipment. <br />
            <br />ACCESSPOWERNG (a subsidiary of Access Power Systems) is a
            metering and vending service provider that allows users to
            conveniently purchase electricity units for AEDC, KEDCO and IBEDC at
            any time of the day within the comfort of their space. <br /><br />
            <span>DOWNLOAD APSNG APP</span> to enjoy fast and secure token
            purchase at your convenience.
          </p>

          <h4>Co Sponsor</h4>
          <div class="row align-items-center">
            <div class="col-12 col-md-3 col-lg-3">
              <div class="sections_headline-main_sponsor">
                <img src="../assets/images/partner.svg" alt="" />
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
              <div class="sections_headline-main_sponsor">
                <img src="../assets/images/gracetech.svg" alt="" />
              </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
              <div class="sections_headline-main_sponsor">
                <img src="../assets/images/aps.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="sections_footer">
    <div class="container">
      <div class="sections_footer-main">
        <p>@partnermobile2022</p>
        <h4>BECOME A PARTNER TODAY</h4>
        <a class="btn" [routerLink]="'.'" [fragment]="'Contact'" data-bs-toggle="modal"
        data-bs-target="#joinUsModal"> Join Us </a>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="joinUsModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="joinUsModalLabel"
  aria-hidden="true"
>
  <app-join></app-join>
</div>
