<app-navbar (fragment)="setSection($event)"> </app-navbar>
<app-sidebar (showMinimized)="showMinimizedMenu($event)"></app-sidebar>

<div class="sections">
  <div class="sections_home">
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-md-7 col-lg-6 d-flex align-items-center"
          data-aos="fade-up"
          data-aos-easing="ease-in-sine"
          data-aos-delay="200"
        >
          <div class="sections_home--header">
            <h4>
              "In the world of trade, each shipment carries a story, connecting
              nations, businesses, and aspirations across distant horizons."
              <br /><br />
              <span>Anonymous <br /> </span>
            </h4>
          </div>
        </div>
        <div class="col-12 col-md-5 col-lg-6 d-flex justify-content-end">
          <div class="sections_home--wrapper">
            <img src="assets/images/image5.jpeg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sections_join">
    <div class="container">
      <h4>
        Join <span> Same Major Cargo </span> and embark on a journey where your
        goods find their seamless passage across continents, ensuring
        reliability, security, and your satisfaction every step of the way.
      </h4>
      <a
        class="btn btn_join"
        [routerLink]="'.'"
        [fragment]="'Contact'"
        data-bs-toggle="modal"
        data-bs-target="#joinUsModal"
      >
        Contact Us
      </a>
    </div>
  </div>

  <div class="sections_introducing" id="About">
    <div class="container">
      <div class="row marg">
        <div class="col-12 col-md-6 col-lg-6 d-flex align-items-center">
          <div class="sections_introducing--images">
            <img src="../assets/images/image3.jpeg" alt="boy" />
            <img src="../assets/images/image7.jpeg" alt="book" class="abs" />
          </div>
        </div>
        <div
          class="col-12 col-md-6 col-lg-6 d-flex justify-content-end"
          data-aos="fade-up"
          data-aos-easing="ease-in-sine"
          data-aos-delay="200"
        >
          <div class="sections_introducing--right">
            <h4>INTRODUCTION</h4>
            <p>
              Welcome to Same Major Cargo, your trusted partner for seamless
              international shipping and logistics solutions. We specialize in
              facilitating hassle-free import and export services between
              overseas locations and Nigeria. Whether you're a business
              expanding globally or an individual shipping goods, count on us
              for reliable services.
            </p>
            <a
              class="btn"
              [routerLink]="'.'"
              [fragment]="'Contact'"
              data-bs-toggle="modal"
              data-bs-target="#joinUsModal"
            >
              Learn More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="sections_according"
    id="Synopsis"
    data-aos="fade-down"
    data-aos-easing="ease-in-sine"
    data-aos-delay="100"
  >
    <div class="container">
      <p>
        Same Major Cargo began with a vision to simplify international shipping.
        We've become a trusted name in the import-export industry, offering
        efficient logistics solutions for businesses and individuals alike.
      </p>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="sections_why">
        <div class="row align-items-center">
          <div
            class="col-12 col-md-6 col-lg-6 d-flex justify-content-start"
            data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-delay="200"
          >
            <div class="sections_why--left">
              <h4>Mission and Values:</h4>
              <p>
                Mission: To provide seamless shipping, connecting people
                globally and facilitating trade.
              </p>

              <p>
                Values: Integrity, reliability, customer-centric approach, and
                continuous improvement.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 d-flex align-items-center">
            <div class="sections_why--image">
              <img src="../assets/images/image1.jpeg" alt="boy" />
            </div>
          </div>
        </div>
      </div>
      <div class="sections_aim">
        <h4>Our Services:</h4>
        <div class="row">
          <div
            class="col-12 col-md-3 col-lg-3 mb-4"
            data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-delay="200"
          >
            <div class="sections_aim--card">
              <div class="sections_aim--card_top mobile_hide">
                <img src="../assets/images/image2.jpeg" alt="class" />
              </div>

              <p><span>I</span> mport <span>S</span> ervices.</p>

              <ul>
                <li>
                  Seamless import services from various international locations
                  to Nigeria.
                </li>

                <li>
                  Tailored solutions for diverse cargo and shipment
                  requirements.
                </li>

                <li>Expert guidance on customs clearance and documentation.</li>
              </ul>
            </div>
          </div>
          <div
            class="col-12 col-md-3 col-lg-3 mb-4"
            data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-delay="200"
          >
            <div class="sections_aim--card">
              <div class="sections_aim--card_top mobile_hide">
                <img src="../assets/images/image11.jpeg" alt="map" />
              </div>
              <p><span>E</span> xport <span>S</span> ervices.</p>

              <ul>
                <li>
                  Comprehensive export solutions to ship goods from Nigeria
                  globally.
                </li>

                <li>
                  Assistance with packaging, documentation, and logistics for
                  exports.
                </li>

                <li>Compliance with international shipping regulations.</li>
              </ul>
            </div>
          </div>
          <div
            class="col-12 col-md-3 col-lg-3 mb-4"
            data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-delay="200"
          >
            <div class="sections_aim--card">
              <div class="sections_aim--card_top mobile_hide">
                <img src="../assets/images/image5.jpeg" alt="stationary" />
              </div>

              <p><span>C</span>ustomer <span>C</span> learance.</p>

              <ul>
                <li>
                  Expert handling of customs clearance procedures for smooth
                  shipments.
                </li>

                <li>
                  Navigating customs regulations and documentation efficiently.
                </li>
              </ul>
            </div>
          </div>
          <div
            class="col-12 col-md-3 col-lg-3 mb-4"
            data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-delay="200"
          >
            <div class="sections_aim--card">
              <div class="sections_aim--card_top mobile_hide">
                <img src="../assets/images/image8.jpeg" alt="woman" />
              </div>
              <p><span>L</span>ogistics <span>S</span> olutions.</p>

              <ul>
                <li>
                  Tailored logistics, including warehousing, transportation, and
                  distribution.
                </li>

                <li>
                  Optimizing supply chain processes for maximum efficiency.
                </li>
              </ul>
            </div>
          </div>
        </div>

        <h4 class="mb-2 mt-5">Why Choose Us:</h4>
      </div>
      <div class="sections_started">
        <div class="sections_started-main">
          <div class="d-flex justify-content-center">
            <img src="../assets/images/image10.jpeg" alt="" />
          </div>
          <h4>You can also be part of this. Here’s why:</h4>
          <p class="text-center">
            Experience: Years of expertise in international shipping and
            logistics.

            <br />

            Reliability: Your cargo in safe hands, ensuring secure and timely
            delivery.
            <br />

            Efficiency: Streamlined processes for a hassle-free shipping
            experience.

            <br />

            Customer Service: Exceptional support from our dedicated team.
            <!-- <span>NOW</span> to
            <span>June 27</span>, a total of <span>N1,000</span> will be donated
            to sponsor an out-of-school child back to school. When you subscribe
            to your data plans on Partner Fibre-To-The-Home Data Service,
            <span>N1,000</span> will also be donated to sponsor a child back to
            school. So, join us, and let’s give our future generation the hope
            they require. -->
          </p>
          <div class="btn_wrapper">
            <a
              class="btn"
              [routerLink]="'.'"
              [fragment]="'Contact'"
              data-bs-toggle="modal"
              data-bs-target="#joinUsModal"
            >
              Contact Us
            </a>
          </div>
        </div>
      </div>

      <div class="sections_headline" id="Terms">
        <div class="sections_headline-main">
          <h4>Terms & Conditions</h4>

          <p>
            Welcome to Same Major Cargo Services! We are delighted to serve you
            and facilitate the transportation of your valuable goods. To ensure
            a smooth and transparent experience, please take a moment to
            familiarize yourself with our Terms of Service and Conditions.
            <br />
            <br />

            Acceptance of Terms and Conditions <br />
            By engaging in business with Same Major Cargo, hereafter referred to
            as "the Company," you acknowledge and agree to abide by the terms
            and conditions outlined herein.
            <br />
            <br />

            Our Services <br />
            The Company offers a comprehensive range of cargo transportation
            services, catering to a diverse array of goods, including clothes,
            cars, foodstuffs, toys, fridges, and more. Our commitment is to
            provide efficient and reliable shipping solutions tailored to meet
            your unique needs.
            <br />
            <br />

            Booking and Shipment <br />
            Customers are required to provide accurate and complete information
            regarding the goods, weight, dimensions, and any special handling
            requirements. The Company reserves the right to refuse any shipment
            at its discretion.

            <br />
            <br />

            Shipping Rates and Charges <br />
            Customers agree to pay the shipping rates and charges communicated
            by the Company. Additional charges may apply for special handling,
            packaging, customs clearance, and other services.

            <br />
            <br />

            Payment Terms <br />
            Payment is due in full before the shipment is released. The Company
            accepts cash and transfer.
            <br />
            <br />

            Delivery and Transit <br />
            Times The Company provides estimated delivery and transit times of
            between 2-3 months. Please note that unforeseen circumstances, such
            as customs clearance processes, adverse weather conditions, and
            force majeure events, may cause delays.
            <br />
            <br />

            Packaging Requirements <br />
            Customers are responsible for ensuring that goods are well-packaged
            at the point of collection or delivery. Poorly packaged items may
            result in additional charges.
            <br />
            <br />

            Storage Fees <br />
            Goods not promptly picked up after the customer has been notified of
            their arrival in the destination country will incur additional
            charges. Storage fees will be applied on a per-day basis.

            <br />
            <br />

            Liability and Insurance <br />
            The Company is not liable for any loss, damage, or delay caused by
            factors beyond its control. Customers are encouraged to purchase
            insurance for their shipments.
            <br />
            <br />

            Customs and Documentation <br />
            Customers are responsible for providing accurate and complete
            customs documentation. The Company is not liable for delays or
            issues related to customs clearance.
            <br />
            <br />

            Claims and Disputes Any claims for loss or damage must be reported
            to the Company in writing within 7 days of the shipment's delivery.
            Disputes will be resolved through negotiation, mediation, or legal
            action if necessary.
            <br />
            <br />

            Tracking and Communication <br />
            The Company provides a tracking system for customers to monitor the
            status of their shipments. Communication regarding the shipment,
            including delays or issues, will be conducted through our customer
            service.
            <br />
            <br />

            Amendments <br />
            The Company reserves the right to amend these terms and conditions
            at any time. Customers will be notified of any changes.
            <br />
            <br />

            Thank you for choosing Same Cargo Services. By engaging in business
            with us, you signify your understanding and acceptance of the terms
            outlined above.
            <br />
            <br />

            For a detailed view of our Terms and Conditions, please refer to the
            complete document linked
            <a href="assets/pdf/terms.pdf" download>here</a>
            <br />
            <br />

            If you have any questions or require further clarification, please
            contact us at <br />
            [Contact Information].
            <br />
            [Company Name] <br />[Company Address]
            <br />
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="sections_footer">
    <div class="container">
      <div class="sections_footer-main">
        <p>@samemajorcargo2020</p>
        <h4>PATRONIZE US TODAY</h4>
        <a
          class="btn"
          [routerLink]="'.'"
          [fragment]="'Contact'"
          data-bs-toggle="modal"
          data-bs-target="#joinUsModal"
        >
          Contact Us
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="joinUsModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="joinUsModalLabel"
  aria-hidden="true"
>
  <app-join></app-join>
</div>
